<%- include('../partials/header') %>

<h1>Hello <%= user.name %></h1>
<h2>Characters:</h2>
    <a href="/characters/new" class="new-character">New Character</a>
    <% if(characters) { %>
    <% characters.forEach(function(c){ %>
        <h3 class="character"><a href="/characters/<%= c._id %>" class="characters"><%= c.name %></a><form action="/characters/<%= c._id %>?_method=DELETE" method="POST" class="secondary-content">
            <button type="submit" class="btn btn-secondary btn-sm">X</button>
          </form></h3>
        <h3><%= c.class %></h3>
        <h3>Level: <%= c.level %></h3>
    <% }); %>
    <% } %>

<%- include('../partials/footer') %>