<%- include('../partials/header') %>

<h1><%= character.name %></h1>
<h3>Class: <%= character.class %></h3>
<h3>Level: <%= character.level %></h3>
<a href="/characters/<%= character._id %>/edit" class="edit-character">Edit Character</a><br />
<a href="/characters/<%= character._id %>/spells/new" class="new-spell">New Spell</a>
<% spellInfo.forEach(function(spell) { %>
    <div>
        <h1><%= spell.name %><form action="/characters/<%= character._id %>/spells/<%= spell.index %>?_method=DELETE" method="POST" class="secondary-content">
            <button type="submit" class="btn btn-secondary btn-sm">X</button>
          </form></h1>
        <h6>
          Level: <%= spell.level %><br />
          Range: <%= spell.range %><br />
          Casting Time: <%= spell.casting_time %><br />
          Duration: <%= spell.duration %><br />
          Ritual: <%= spell.ritual ? 'Yes' : 'No' %><br />
          Components: <% spell.components.forEach(function(c) {%> <%= c %> <% }); %><br />
          Materials: <%= spell.material %><br />
          Concentration: <%= spell.concentration ? 'Yes' : 'No' %><br />
          School: <%= spell.school.name %>
        </h6>
        <p>
          <%= spell.desc %><br />
          <%= spell.higher_level %>
        </p>
      </div>
      
<% }) %>

<%- include('../partials/footer') %>